Origin: XBian
Package: xbian-package-lirc
Version: 1.4-4
Section: utils
Essential: No
Priority: optional
Architecture: armhf
Replaces: xbian-package-lirc (<=1.3), iguanair
Conflicts: lirc, iguanair
Maintainer: Koenkk <development@xbian.org>
Description: Remote controller deamon.
