Origin: XBian
Package: xbian-package-lirc
Version: 1.5.0-1
Section: utils
Essential: No
Priority: optional
Architecture: armhf
Depends: upstart
Replaces: lirc, iguanair
Conflicts: lirc, iguanair
Maintainer: Koenkk <development@xbian.org>
Description: Remote controller deamon.
